<java-splash-page *ngIf="showJavaSplashPage" [setShowJavaSplashPage]="setShowJavaSplashPage"></java-splash-page>
<div id="quickstart-container">
<div id="quickstart-header">
    <img src="image/functions.svg" />

    <h1>{{ 'intro_getStarted' | translate }}</h1>
    <h2>{{ 'intro_chooseScenario' | translate }}</h2>
    <div id="quickstart-templates">
        <div class="quickstart-template"
             #http
             (click)="onFunctionClicked('HttpTrigger')"
             (keydown)="onFunctionKey($event, 'HttpTrigger')"
             [tabIndex]="selectedFunction === 'HttpTrigger' ? 0 : -1"
             [class.quickstart-template-selected]="selectedFunction === 'HttpTrigger'">

            <div class="quickstart-template-icon">
                <div load-image="image/code.svg" class="icon-template"></div>
                <div>{{ 'intro_webHook' | translate }}</div>
            </div>
        </div>

        <div class="quickstart-template"
             #timer
             (click)="onFunctionClicked('TimerTrigger')"
             (keydown)="onFunctionKey($event, 'TimerTrigger')"
             [tabIndex]="selectedFunction === 'TimerTrigger' ? 0 : -1"
             [class.quickstart-template-selected]="selectedFunction === 'TimerTrigger'">

            <div class="quickstart-template-icon">
                <div load-image="image/clock.svg" class="icon-template"></div>
                <div>{{ 'intro_timer' | translate }}</div>
            </div>

        </div>

        <div class="quickstart-template"
             #queue
             (click)="onFunctionClicked('QueueTrigger')"
             (keydown)="onFunctionKey($event, 'QueueTrigger')"
             [tabIndex]="selectedFunction === 'QueueTrigger' ? 0 : -1"
             [class.quickstart-template-selected]="selectedFunction === 'QueueTrigger'">

            <div class="quickstart-template-icon">
                <div load-image="image/databaseMini3.svg" class="icon-template"></div>
                <div>{{ 'intro_dataProcessing' | translate}}</div>
            </div>
            
        </div>

    </div>

    <ng-container *ngIf="!functionAppLanguage">
        <h2>{{ 'intro_chooseLanguage' | translate }}</h2>

        <div id="quickstart-lang-radios">
            <label><input type="radio" name="language" [(ngModel)]="selectedLanguage" value="CSharp" checked>CSharp</label>
            <label><input type="radio" name="language" [(ngModel)]="selectedLanguage" value="JavaScript">JavaScript</label>
            <label *ngIf="runtimeVersion === 'V1'"><input type="radio" name="language" [(ngModel)]="selectedLanguage" value="FSharp">FSharp</label>
            <label><input type="radio" name="language" [(ngModel)]="selectedLanguage" value="Java">Java</label>
        </div>
    </ng-container>

    <div *ngIf="runtimeVersion === 'V1'" id="quickstart-lang-custom">
        {{ 'intro_ifYou' | translate }}
        <span class="link" 
              role="link" 
              tabindex="0"
              (click)='createFromScratch()'
              (keydown)="onKeyDown($event, 'scratch')">
            {{ 'intro_createYourOwn' | translate }}.
        </span>
    </div>

    <div>
        <button class="custom-button"
                (click)="onCreateNewFunction()"
                [disabled]="!selectedFunction">
            {{ 'intro_createThisFunction' | translate }}
        </button>

    </div>
</div>  <!-- /intro-header -->

<div id="quickstart-footer">
    <h2 class="circle-container">
        <!-- Need to split the "circle" into 3 parts to allow it to expand if the text is long -->
        <span class="circle-left"></span>
        <span class="circle-middle">{{ 'intro_or' | translate}}</span>
        <span class="circle-right"></span>
    </h2>

    <h1>{{ 'intro_getStartedOn' | translate }}</h1>
    <div>
        <span class="link" 
              role="link" 
              tabindex="0"
              (click)='createFromScratch()'
              (keydown)="onKeyDown($event, 'scratch')">
            {{ 'intro_customFunction' | translate }}
        </span>
    </div>
    <div>
        <span class="link" 
              role="link"
              tabIndex="0"
              (click)='startFromSC()'
              (keydown)="onKeyDown($event, 'SC')">
            {{ 'intro_startSC' | translate }}
        </span>
    </div>
</div>  <!-- /intro-footer -->
</div> <!-- /intro-container -->
