<div id="function-runtime-container">

    <div *ngIf="showProxyEnabledWarning" class="alert alert-warning alert-dismissible" role="alert">
      {{ 'appFunctionSettings_proxyEnabled' | translate }}
    </div>

    <div *ngIf="context?.site.properties?.sku === 'Dynamic'" class="setting-wrapper">
        <label id="dailyUsageQuotaLabel" class="title-label">{{ 'functionAppSettings_dailyUsageQuota' | translate }}
            <pop-over [message]="( 'functionAppSettings_dailyUsageQuotaHelp' | translate )" [position]="'bottom'">
                <span class="glyphicon glyphicon-info-sign"></span>
            </pop-over>
        </label>
        <div>
            <div>
                <input placeholder="{{ 'functionAppSettings_quotaPlaceHolder' | translate }}"
                    [(ngModel)]="dailyMemoryTimeQuota"
                    onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                    type="text"
                    style="width:200px;"
                    tabindex="0"
                    id="dailyUsageQuotaValue"
                    aria-labelledby="dailyUsageQuotaLabel dailyUsageQuotaValue">
                <button
                    class="custom-button"
                    [disabled]="dailyMemoryTimeQuotaOriginal === dailyMemoryTimeQuota"
                    (click)="setQuota()"
                    tabindex="0"
                    id="setQuotaButton"
                    aria-labelledby="dailyUsageQuotaLabel setQuotaButton">
                    {{ 'functionAppSettings_setQuota' | translate }}
                </button>
                <button *ngIf="showDailyMemoryInfo"
                    class="custom-button remove-button"
                    (click)="removeQuota()"
                    tabindex="0"
                    id="removeQuotaButton"
                    aria-labelledby="dailyUsageQuotaLabel removeQuotaButton">
                    {{ 'functionAppSettings_removeQuota' | translate }}
                </button>
            </div>
            <div>
                <label *ngIf="showDailyMemoryInfo">
                    {{ 'functionAppSettings_quotaInfo' | translate }}
                </label>
            </div>
            <div>
                <label *ngIf="showDailyMemoryWarning" class="warning">
                    {{ 'functionAppSettings_quotaWarning' | translate }}
                </label>
            </div>
        </div>
    </div>

    <div class="setting-wrapper">
        <label id="applicationSettingsLabel" class="title-label">{{ 'feature_applicationSettingsName' | translate }}</label>
        <div>
            <a (click)="openAppSettings()"
                (keydown)="keyDown($event, 'openAppSettings')"
                tabindex="0"
                id="applicationSettingsLink"
                aria-label="applicationSettingsLabel applicationSettingsLink">
                {{ 'functionRuntime_manageAppSettings' | translate }}
            </a>
        </div>
    </div>

    <div *ngIf="!GlobalDisabled && !isStopped" class="setting-wrapper">
        <label id="runtimeVersionLabel" class="title-label">{{ 'runtimeVersion' | translate }}</label>
        <div>
            <label *ngIf="!needUpdateExtensionVersion && !badRuntimeVersion">
                {{ 'appFunctionSettings_functionAppSettings2' | translate: {latestExtensionVersion:latestExtensionVersion, exactExtensionVersion: exactExtensionVersion} }}
            </label>
            <div *ngIf="needUpdateExtensionVersion && !badRuntimeVersion">
                <label id="updateRuntimeVersionLabel">
                    {{ 'appFunctionSettings_functionAppSettings1' | translate: {exactExtensionVersion: exactExtensionVersion, latestExtensionVersion:latestExtensionVersion} }}
                </label>
                <button
                    class="custom-button"
                    (click)="updateVersion()"
                    tabindex="0"
                    id="updateRuntimeVersionButton"
                    aria-labelledby="updateRuntimeVersionLabel updateRuntimeVersionButton">
                        {{ 'update' | translate }}
                </button>
            </div>
            <ng-container *ngIf="badRuntimeVersion">
                <div>
                    <label id="updateRuntimeVersionLabel">
                        {{ 'appFunctionSettings_functionAppSettings_badVersion' | translate: {extensionVersion: extensionVersion} }}
                    </label>
                </div>
                <div class="alert alert-warning">
                    <img class="alert-icon" src="image/warning.svg" alt="{{ 'warning' | translate}}"/>
                    <div class="alert-message">
                        <span class="title-label">{{ 'appFunctionSettings_warning_badVersionTitle' | translate }}</span><br/>
                        <span>{{ 'appFunctionSettings_warning_badVersionDescription' | translate: {exactExtensionVersion: exactExtensionVersion} }}</span><br/>
                    </div>
                </div>
            </ng-container>
            <div *ngIf="hasFunctions" class="alert alert-warning">
                <img class="alert-icon" src="image/warning.svg" alt="{{ 'warning' | translate}}"/>
                <div class="alert-message">
                    <span class="title-label">{{ 'appFunctionSettings_warning_6' | translate }}</span><br/>
                    <span>{{ 'appFunctionSettings_warning_7' | translate }}</span><br/>
                </div>
            </div>
            <div *ngIf="!isLinuxApp">
                <radio-selector
                    [defaultValue]="extensionVersion"
                    [options]="functionRutimeOptions"
                    [disabled]="hasFunctions"
                    (value)="functionRuntimeValueStream.next($event)"
                    id="runtimeVersionRadioButton"
                    aria-labelledby="runtimeVersionLabel runtimeVersionRadioButton">
                </radio-selector>
            </div>
        </div>
    </div>

    <div class="setting-wrapper" *ngIf="showProxyEnable">
        <label id="apiProxiesLabel" class="title-label">{{ 'appFunctionSettings_apiProxies' | translate }}</label>
        <div>
            <label id="apiProxiesLabel1" class="title-spacing">{{ 'appFunctionSettings_useApiProxies' | translate }}</label>
            <div>
                <radio-selector
                    [defaultValue]="!showProxyEnable"
                    [options]="functionStatusOptions"
                    (value)="proxySettingValueStream.next($event)"
                    id="apiProxiesRadioButton"
                    aria-labelledby="apiProxiesLabel1 apiProxiesRadioButton">
                </radio-selector>
        </div>
        </div>
    </div>

    <div class="setting-wrapper">
        <label id="editModeRadioLabel" class="title-label">{{ 'appFunctionSettings_editMode' | translate }}</label>
        <div class="features-wrapper">
            <div>
                <label class="title-spacing">{{ 'appFunctionSettings_changeEditMode' | translate }}</label>
                <div>
                    <radio-selector
                        [defaultValue]="functionAppEditMode"
                        [options]="functionAppEditModeOptions"
                        (value)="functionEditModeValueStream.next($event)"
                        id="editModeRadioButton"
                        aria-labelledby="editModeRadioLabel editModeRadioButton">
                    </radio-selector>
                </div>
            </div>
        </div>
    </div>

    <div class="setting-wrapper">
        <label id="slotEnableLabel" class="title-label">{{ 'appFunctionSettings_slotsOptinSettings' | translate}}</label>
        <p>{{ 'appFunctionSettings_slotsDesc' | translate }}</p>
        <div class="alert alert-warning">
            <img class="alert-icon" src="image/warning.svg" alt="{{ 'warning' | translate}}"/>
            <div class="alert-message">
                <span class="title-label">{{ 'appFunctionSettings_warning_1' | translate }}</span><br/>
                <span>{{ 'appFunctionSettings_warning_2' | translate }}</span><br/>
                <span>
                    {{ 'appFunctionSettings_warning_3' | translate }}
                    <span class="title-label">{{ 'appFunctionSettings_warning_4' | translate }}</span>
                    {{ 'appFunctionSettings_warning_5' | translate }}
                </span>
            </div>
        </div>
        <div>
            <radio-selector
                [disabled]="slotsEnabled"
                [defaultValue]="slotsEnabled"
                [options]="slotsStatusOptions"
                (value)="slotsValueChange.next($event)"
                id="slotEnableRadioButton"
                aria-labelledby="slotEnableLabel slotEnableRadioButton">
            </radio-selector>
        </div>
    </div>

    <function-keys
        *ngIf="!isStopped"
        [autoSelect]="true"
        [adminKeys]="true"
        [viewInfo]="viewInfo"></function-keys>

    <host-editor *ngIf="context" class="features-wrapper" [functionAppInput]="context" ></host-editor>
</div>
