<div class="sidenav" [class.header-on-top-of-sidenav]="headerOnTopOfSideNav">
    
    <div id="sidenav-menu"
        check-scenario="ShowSideNavMenu"
        [cs-input]="{}"
        [class.no-padding]="noPaddingOnSideNav">

        <search-box (onInputChange)="search($event)"
                    (onClear)="clearSearch()"
                    [value]="searchTerm"
                    [placeholder]="'search' | translate"
                    [warning]="true"
                    [ariaLabel]="'searchFunctionApps' | translate">
        </search-box>
        <div check-scenario="ShowCreateRefreshSub" [cs-input]="{}" class="create-refresh-sub clickable">
             <span>{{'sideNav_Subscriptions' | translate}}</span>
             <div class="float-right">
                <i *ngIf="!subscriptionOptions || subscriptionOptions.length === 0"
                    (click)="navidateToNewSub()"
                    (keydown)="navidateToNewSub()"
                    class="fa fa-plus link create-new"
                    [title]="'createNew' | translate">
                </i>
            </div>
        </div>
        <div id="sidenav-subs">
            <multi-drop-down
                [inputOptions]="subscriptionOptions"
                [displayText]="subscriptionsDisplayText"
                (selectedValues)="onSubscriptionsSelect($event)"
                [allItemsDisplay]="allSubscriptions"
                [numberItemsDisplay]="numberSubscriptions"></multi-drop-down>
        </div>

    </div>

    <div #treeViewContainer
         id="tree-view-container"
         role="tree"
         [attr.aria-label]="'functionApps' | translate">
        <tree-view *ngIf="rootNode" [node]="rootNode" [level]="0"></tree-view>
    </div>

</div>